opencv-contrib-python==4.10.0.84
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
numpy==1.26.4
paddleocr==3.3.0
paddlepaddle==3.2.0
paddlex==3.3.5
thefuzz==0.22.1
Levenshtein==0.27.1
Flask==3.1.2
flask-cors==6.0.1
waitress